.App {
  margin: 20vh;
  background: #FF9169;
  width: 38vh;
  height: 30vh;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

input{
  height:3vh;
  font-size: 18px;
}

.rightCom, .leftCom{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #202021;
  color: #FF9169;
  width: 13vh;
  height: 10vh;
  margin: 1vh;
  padding: 1vh;
}

.tile{
  display: flex;
  justify-content: center;
  width: 30vh;
  height: 18vh;
  margin: 1vh;
}

